<Flagzor.Components.CascadingFeatureFlagState>
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <Flagzor.Components.FeatureFlagRouteView Feature="Routing" RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <Inactive>
                <p role="alert">Sorry, `Routing` feature is disabled.</p>
            </Inactive>
</Flagzor.Components.FeatureFlagRouteView>
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
</Flagzor.Components.CascadingFeatureFlagState>